/*
 ***************************************************************************
 *	Microsite Content Layout CSS
 ***************************************************************************
*/
	#container {
		width: 960px;
	}
	
	#content-area {
		width: 960px;
	}
	
	#content-two-col {
		width: 960px;
	}
	
	#content-two-col {
		padding: 0;
		overflow: visible;
		z-index: 0;
	}
	
		#content-two-col #col-one {
			margin-right: 0;
			margin-left: -245px;
			float: right;
			width: auto; /*100%*/
		}
			/*24px*/
			#content-two-col #col-one #content {
				/*margin-left: 270px;*/
				width: 690px; /*690px*/
			}
	
	#content-two-col #col-two {
		float: left;
		width: 240px;
		z-index: 10;
	}
	
	* html body #content-two-col #col-two {
		display: inline;
		margin-left: 0;
	}
	
	#container #content {
		margin: 0 auto;
	}
	
/*
 ***************************************************************************
 *	Microsite Content Area CSS
 ***************************************************************************
*/

.buffer {
	margin: 12px 0;
	overflow: hidden;
}

#container #content .buffer {
	margin: 12px 22px;
	overflow: hidden;
}

	.buffer h1 {
		/*font-size: 26px;*/
		font-size: 2em;
		line-height: 1.3em;
		font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
		color: #DC1900;
		margin-top: 12px;
	}
	
		.buffer h1 a, .buffer h1 em {
			font-style: normal;
			font-family: "AvenirLTW01-65MediumObl", Arial, Helvetica, sans-serif;	
		}
	
	.buffer h1 a, .buffer h2 a, .buffer h3 a {
		color: #0084c9;
	}
	
	.buffer h2 {
		/*font-size: 21px;*/
		font-size: 1.615em;
		line-height: 1.3em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #000;
		margin-top: 24px;
		margin-bottom: 6px;
	}
	
		.buffer h2 sup {
			vertical-align: top;	
		}
	
		.buffer h2 a, .buffer h2 em {
			font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
			font-style: normal !important;
		}
	
	.buffer h3 {
		font-weight: bold;
		/*font-size: 14px;*/
		font-size: 1.077em;
		line-height: 1.43em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: compact;
		margin-top: 8px;
	}

        .buffer h3 em {
            font-weight: bold;
        }
	
	.buffer p {
		/*font-size: 13px;*/
		font-size: 1em;
		line-height: 1.54em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		margin: 8px 0;	
	}
	
	/*#container #content .buffer p {
		width: 588px;
	}*/
	
	/*#container #content .buffer a.fancy>.image-left-lb-s2l + h3 + p,
	#container #content .buffer img.image-left + h3 + p,
	#container #content .buffer img.image-left-lb + h3 + p,
	#container #content .buffer img.image-left-lb-s2l + h3 + p {
		margin-left: 300px;
	}*/
	
	.buffer sup {
		font-size: .76em;
		vertical-align: super;	
	}
	
	.buffer p a, .buffer li a, .buffer .toc, .buffer .email {
		/*font-size: 14px;*/
		font-size: 1.077em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #0084C9;
	}
	
	.buffer p a em, .buffer li a em {
		font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
	}
	
	.buffer ul, .buffer ol, .buffer ul.half-width, .buffer ol.half-width {
		/*font-size: 13px;*/
		font-size: 1em;
		line-height: 1.54em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: inline-block;
		margin: 8px 0;
	}
	
	.buffer .unstyled {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.buffer .unstyled li {
		margin: 0;
		padding: 0;
	}
	
	.buffer ul.half-width, .buffer ol.half-width {
		width: 400px;
	}
	
	.buffer ul li {
		/*display: list-item;*/
		margin-left: 22px;
		padding: 4px 0;
		/*width: 100%;*/
		/*list-style-type: disc;*/
		list-style-position: outside;
	}
	
	.buffer ol li {
		/*display: list-item;*/
		margin-left: 27px;
		padding: 4px 0;
		/*width: 100%;*/
		list-style-type: decimal;
		list-style-position: outside;
	}
	
		.buffer ol ol {
			display: block;
			margin: 0;
		}
		
			.buffer ol ol li {
				padding: 0;
				list-style-type: lower-alpha;
			}
		
				.buffer ol ol ol {
					display: block;
					margin: 0;
				}
				
					.buffer ol ol ol li {
						list-style-type: lower-roman;
						padding: 0;
					}
	
	.buffer .disclaimer {
		letter-spacing: .1em;	
	}
	
	.buffer .right-align {
		margin-right: 10px;
		float: right;
		clear: right;
		height: 74px;
	}
	
	.buffer .left-align {
		float: left;
		clear: left;
	}

	.multi-buttons-right {
		clear: left;
		display: block;
		float: right;
		height: 74px;
		text-align: right !important;
	}
	
		.multi-buttons-right span {
			display: inline;
		}
		
		.multi-buttons-right span a {
			clear: none !important;
			margin-left: 18px;
		}

	.buffer .team-rep-right {
		text-align: center;
		display: inline-block;
		margin: 8px 1px 24px 18px;
		float: right;
		width: 180px;
		min-width: 180px;
		max-width: 180px;
	}
	
	.buffer .team-rep-left {
		text-align: center;
		display: inline-block;
		margin: 24px 18px 24px 1px;
		float: left;
		width: 180px;
		min-width: 180px;
		max-width: 180px;
	}
	
	.buffer .book-list {
		display: inline-block;
		background-color: #EBEBEB;
		margin: 24px 1px 24px 18px;
		padding: 4px 0;
		float: right;
		width: 180px;
		min-width: 180px;
		max-width: 180px;
		-webkit-border-radius: 6px 6px;
		-moz-border-radius: 6px 6px;
		border-radius: 6px 6px;
	}
	
		.buffer .book-list li {
			margin: 0 6px;
			padding: 2px 0;
			list-style-type: none;	
			list-style-position: outside;
		}
		
/*
 ***************************************************************************
 *	Microsite Product Landing Page CSS
 ***************************************************************************
*/

.product-page-content, .virtual-sampling-page-content {
	margin-top: 24px;	
}

.product-page-content h1 a {
	color: #787878;
	background: url(/system/assets/images/program-h1-arrow.png) no-repeat right center;
	margin-right: 5px;
	padding-right: 30px;
}

.program-item {
	margin: 28px 9px;
	float: left;
	height: 185px;
	width: 432px;
	position: relative;
}

.program-item .image-left {
	border: 1px solid #ccc;
	-webkit-border-radius: 18px 18px;
	-moz-border-radius: 18px 18px;
	border-radius: 18px 18px;	
}

/* BLOCKQUOTES */
blockquote {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.54em;
    display: block;
	clear: both;
    width: auto;
    margin: 0 40px;
    font-size: 1.1em;
    padding: 5px 40px 10px 40px;
    background: url(/system/assets/images/art_quotes.gif) no-repeat 0 0;
}

blockquote p {
    display: block;
    font-size: 1.1em !important;
    padding-top: 10px;
	padding-right: 20px;
    background: url(/system/assets/images/art_quote_rt.gif) no-repeat bottom right;
}

blockquote span.attribution {
    display: block;
    text-align: right;
    padding-right: 40px;
    padding-top: 8px;
    font-size: 1.0em;
    color: #666;
}

#container #content .buffer blockquote {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

/*
 ***************************************************************************
 *	Campaign Location Page CSS
 ***************************************************************************
*/

.campaign {
	margin: 10px auto;
	width: 948px;
}

.location-header, .home-header {
	height: 350px;
	width: 948px;
}

.home-header {
	margin-top: 24px;	
}

	.location-header .slide {
		height: 350px;
		width: 750px;
	}
	
	.location-header .slide {
		float: left;
		position: relative;
	}
	
	.home-header .slide {
		height: 350px;
		width: 948px;
		position: relative;
	}
	
	.location-header .slide img {
		border: 1px solid #d5d5d5;
		height: 348px;
		left: 0;
		position: absolute;
		top: 0;
		width: 748px;
	}
	
	.home-header .slide img {
		left: 0;
		position: absolute;
		top: 0;
	}
	
	.location-header .slide .copy-block {
		left: 23px;
		height: 298px;
		position: absolute;
		width: 704px;
		top: 21px;
	}
	
	.home-header .slide .copy-block {
		bottom: 18px;
		height: 304px;
		left: 582px;
		position: absolute;
		right: 30px;
		top: 28px;
		width: 336px;
	}
	
	.location-header h1, .home-header h1 {
		font-size: 3em;
		line-height: 1.16em;
		font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
	}
	
	.location-header h1 {
		height: 102px;
		width: 504px;
		overflow: hidden;
	}
	
	.home-header h1 {
		height: 100px;
		overflow: hidden;	
	}
	
	.location-header h1 a,
	.location-header h1 em,
	.home-header h1 a,
	.home-header h1 em {
		font-style: normal;
		font-family: "AvenirLTW01-65MediumObl", Arial, Helvetica, sans-serif;
	}
	
	.location-header h1,
	.location-header h1 a,
	.location-header h1 em {
		color: #000;
	}
	
	.home-header h1,
	.home-header h1 a,
	.home-header h1 em {
		color: #fff;	
	}
	
	.location-header h1 a,
	.home-header h1 a,
	.location-header p a {
		text-decoration: none !important;	
	}
	
	.location-header h1 a:hover,
	.home-header h1 a:hover,
	.location-header p a:hover {
		text-decoration: underline !important;	
	}
	
	.home-header sup {
		font-size: 75%;
		line-height: 0;
		vertical-align: super;
	}
	
	.location-header span {
		display: block;
		font-size: 75%;	
	}
	
	.location-header p {
		font-size: 1.154em;
		line-height: 1.6em;
		font-family: Arial, Helvetica, sans-serif;
		color: #676767;
		margin: 18px 0;
		width: 330px;
		height: 176px;
		overflow: hidden;
	}
	
	.home-header p {
		color: #fff;
		font-size: 1.077em;
		line-height: 1.5em;
		margin-top: 13px;
		font-family: Arial, Helvetica, sans-serif;
		height: 146px;
		overflow: hidden;
	}
	
	.home-header .button, .home-header .button-alt, .home-header .button-opt {
		bottom: 0;
		position: absolute;
		right: 30px;
		z-index: 999;
	}
	
.two-space-bucket-stacked {
	display: block;
	float: right;
	height: 350px;
	overflow: hidden;
}

	.two-space-bucket-stacked li {
		display: block;
		background-color: #e8e8e8;
			background-image: -webkit-gradient(linear, left top, left bottom, to(#efefef), from(#d5d5d5));
			background-image: -webkit-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -moz-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -o-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -ms-linear-gradient(top, #efefef, #d5d5d5);
			background-image: linear-gradient(top, #efefef, #d5d5d5);
		margin: 0 0 16px 12px;
		height: 165px;
		width: 184px;
		border: 1px solid #d5d5d5;
			-webkit-border-radius: 12px 12px;
			-moz-border-radius: 12px 12px;
			  	 border-radius: 12px 12px;
		list-style-type: none;
		list-style-position: outside;
		position: relative;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#d5d5d5', GradientType=0);
	}
	
		.two-space-bucket-stacked h2 {
			font-size: 1.462em;
			font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
			color: #000;
			margin: 12px 12px 0 12px;
			width: 160px;
			height: 20px;
			/*overflow: hidden;*/
		}
		
			.two-space-bucket-stacked h2 em {
				font-style: normal;
				font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
			}
		
		.two-space-bucket-stacked p {
			font-size: 0.923em;
			line-height: 1.3em;
			font-family: Arial, Helvetica, sans-serif;
			color: #454545;
			margin: 6px 12px 6px 12px;
			width: 160px;
			height: 30px;
			overflow: hidden;
		}

		.two-space-bucket-stacked img {
			height: 80px;
			width: 162px;
			margin: 0 12px 12px;
			z-index: 999;
		}	
	
	.campaign-header {
		font-size: 1.615em;
		line-height: 1.3em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #000;
		margin-top: 24px;
		margin-bottom: 6px;
	}
	
		.campaign-header sup {
			vertical-align: top;	
		}
	
		.campaign-header a, .campaign-header em {
			font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
		}
		
	.one-space-bucket, .two-space-bucket {
		margin: 0 auto;
		padding: 0;
		width: 948px;
	}
	
	.two-space-bucket li {
		background-color: #FFF;
		border: 1px solid #FFF;
		display: block;
		float: left;
		height: 160px;
		list-style-type: none;
		margin: 18px 0 18px 25px;
		padding: 0;
		position: relative;
		width: 458px;
	}
	
	.two-space-bucket li:nth-child(odd) {
		margin-left: 0;
	}
	
	.two-space-bucket ul li.odd {
		margin-left: 0;
	}
	
	.one-space-bucket .bucket {
		background-color: #FFF;
		border: 1px solid #FFF;
		display: block;
		height: 236px;
		margin: 18px 0;
		padding: 18px;
		position: relative;
	}
	
	.one-space-bucket .bucket:hover, .two-space-bucket li:hover {
		background-color: #F5F5F5;
		border: 1px solid #F5F5F5;
			-webkit-border-radius: 12px 12px;
			-moz-border-radius: 12px 12px;
			border-radius: 12px 12px;
	}
	
	.two-space-bucket .bucket {
		padding: 18px;
		position: relative;	
	}
	
	.two-space-bucket li img {
		border: 1px solid #EFEFEF;
			-webkit-border-radius: 18px 18px;
			-moz-border-radius: 18px 18px;
			border-radius: 18px 18px;
		float: left;
		height: 118px;
		margin-right: 18px;
		overflow: hidden;
		width: 118px;
	}
	
	.one-space-bucket h3, .two-space-bucket li h3 {
		font-weight: bold;
		font-size: 1.077em;
		line-height: 1.43em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: compact;
		margin-bottom: 6px;
		height: 20px;
		overflow: hidden;
	}
	
	.one-space-bucket h3 {
		margin-bottom: 18px;	
	}
	
	.two-space-bucket li p {
		font-size: 0.923em;
		line-height: 1.3em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		margin: 0;
		height: 75px;
		overflow: hidden;
	}
	
	.one-space-bucket p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.923em;
		line-height: 1.3em;
		color: #454545;
		height: 170px;
		overflow: hidden;
	}
	
	.one-space-bucket sup, .two-space-bucket sup {
		font-size: 75%;
		line-height: 0;
		vertical-align: super;
	}
	
	.one-space-bucket .bucket a.call-out-link, .two-space-bucket li a.call-out-link {
		font-size: 1.154em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #0084c9;
		background: transparent url(/system/assets/images/call-to-arrow.png) no-repeat right center;
		padding-right: 15px;
		position: absolute;
		bottom: 0;
		left: 156px;
	}
	
	.one-space-bucket .bucket a.call-out-link {
		bottom: 18px;
		left: 18px;	
	}
	
	.campaign-sales .unstyled li {
		float: left;
		margin-bottom: 5px;
		margin-left: 18px;
		width: 320px;
	}
	
	.campaign-sales .unstyled li p {
		margin: 0;
	}
	
	.campaign-events h3 {
		margin-top: 24px;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation {
		font: italic bold 13px Arial, Helvetica, sans-serif;
		margin-top: 16px;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation em {
		font: bold 13px Arial, Helvetica, sans-serif;
	}
	
	.campaign-events .presenter {
		font: 13px Arial, Helvetica, sans-serif;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation-time {
		font: 13px Arial, Helvetica, sans-serif;
		margin-top: 0;
		margin-bottom: 8px;
	}