/*
 ***************************************************************************
 *	MegaMenu CSS
 ***************************************************************************
*/
/*
 ***************************************************************************
 *	MAIN NAV STRUCTURE CSS
 ***************************************************************************
*/
#hmh-header {
	width:100%;
	min-width:100%;
	max-width:100%;
	height:73px!important;
	margin:0;
	padding:0;
	background:url(/system/assets/images/branding-bg.gif) 0 0 repeat-x;
	background-color:#dcdcdc;
	position:relative;
	top:0;
	left:0;
	display:block;
	z-index:2000;
}

#branding-header-tools {
	width:960px;
	height:73px;
	margin:0 auto;
	padding:0;
	background:none;
	position:relative;
	display:block;
	color:#464646;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*background:url(../../images/branding-bg.gif) 0 0 repeat-x;*/
}

#branding-header-tools #branding-logo {
	width:302px;
	height:26px;
	margin:0;
	padding:0;
	position:absolute;
	display:block;
	top:9px;
	left:6px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	line-height:26px;
	background:url(/system/assets/images/hmh-logo-new.gif) 0 0 no-repeat;
}

#branding-header-tools #branding-logo a {
	width:302px;
	height:26px;
	margin:0;
	padding:0;
	display:block;
}

#branding-header-tools #branding-logo span {
	display:none;
}

#search {
	float: right;
	margin-top: 10px;
}
			
	#search input[type="text"] {
		margin-top: 0;
		width: 125px;
	}
	
	#search input[type="image"] {
		margin-top: 0;
		padding: 0;
		vertical-align: top;
	}

#hmh-header #search {
    margin-top: 12px;
}

#branding-header-tools #location-dropdown {
	margin:0 4px 0 0;
	padding:0;
	position:absolute;
	display:block;
	top:0px;
	right:0;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:26px;
}

#branding-header-tools #branding-nav {
	width:100%;
	height:26px;
	margin:0 6px;
	padding:0;
	position:absolute;
	display:block;
	top:47px;
	left:0;
}
/*
 ***************************************************************************
 *	MAIN NAV LINKS CSS
 ***************************************************************************
*/
#branding-header-tools #branding-nav .nav-primary {
	list-style:none;
	margin:0;
	padding:0;
	height:26px;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element {
	height:26px;
	margin:0;
	padding:0 25px 0 18px;
	float:left;
	display:inline-block;
	text-align:left;
	position:relative;
	z-index:999;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element .nav-primary-with-sub {
	width:100%;
	height:26px;
	margin:0;
	padding:0 7px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:26px;
	color:#464646;
	font-weight:bold!important;
	text-align:center;
	display:block;
	text-decoration:none;
	background:url(/system/assets/images/branding-arrow-down.png) no-repeat right 6px;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element:hover {
	background-color:#666;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element:hover .nav-primary-with-sub {
	color:#000;
	background:url(/system/assets/images/branding-arrow-down-black.png) no-repeat right 6px;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element .nav-primary-no-sub {
	width:100%;
	height:26px;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:26px;
	color:#464646;
	font-weight:bold!important;
	text-align:center;
	display:block;
	text-decoration:none;
}

#branding-header-tools #branding-nav .nav-primary .nav-primary-element:hover .nav-primary-no-sub {
	color:#000;
}
/*
 ***************************************************************************
 *	SECONDARY NAV LINKS CSS
 ***************************************************************************
*/
.nav-secondary {
	width:230px; /*186px*/
	margin:0;
	
	/*padding:14px 0 18px 18px;*/
	padding:15px 0 0 0;
	
	list-style:none;
	background-color:#666;
	/* ---- begin: ignored by older browsers ---- */
	background: -moz-linear-gradient(top, #666666, #333333);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	-moz-box-shadow:0 3px 8px #666666;
	-webkit-box-shadow:0 3px 8px #666666;
	box-shadow:0 3px 8px #666666;
	/* ---- end: ignored by older browsers ---- */
	position:absolute;
	display:none;
	overflow:visible;
	top:26px;
	left:0;
}

#products-nav .nav-secondary {
	height: 290px;
}
 
#assessment .nav-secondary {
	height: 430px; /* 450px */
}

#professional-services-nav .nav-secondary, 
#programs-nav .nav-secondary {
	height: 270px;
}

#services-nav .nav-secondary, 
#platforms .nav-secondary, 
#topics-nav .nav-secondary {
	height:190px;
}

.nav-primary-element:hover .nav-secondary {
	display:block;
}

.nav-secondary .nav-secondary-element-img {
	display: none;
	height: 186px;
	margin: 18px 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 186px;
}
.nav-secondary .nav-secondary-element-img a img {
	border: 1px solid #333;
}

.nav-secondary .nav-secondary-element {
	width:186px; /*186px*/
	margin:0 0 0 18px;
	padding:5px 0 9px 0;
	list-style-position:outside!important;
	text-align:left;
	display:block;
	position:relative;
}

.nav-secondary .nav-secondary-element a {
	height:auto;
	margin:0;
	padding:0 12px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#fff;
	font-weight:normal!important;
	text-decoration:none;
}

.nav-secondary .nav-secondary-element a.nav-secondary-with-sub {
	background:url(/system/assets/images/branding-arrow-right-white.png) no-repeat right 2px;
}

.nav-secondary .nav-secondary-element a:hover {
	color:#ffc61e;
}

.nav-secondary .nav-secondary-element a.nav-secondary-with-sub:hover {
	background:url(/system/assets/images/branding-arrow-right-yellow.png) no-repeat right 2px;
}

.nav-secondary .nav-secondary-element a.active {
	color:#ffc61e;
}

.nav-secondary .nav-secondary-element a.nav-secondary-with-sub.active {
	background:url(/system/assets/images/branding-arrow-right-yellow.png) no-repeat right 2px;
}
/*
 ***************************************************************************
 *	TERTIARY NAV CSS
 ***************************************************************************
*/
.nav-tertiary {
	width:752px;
	margin:0;
	padding:0;
	display:none;
	position:absolute;
	left:178px;
	overflow:hidden;
	/*background-color:#FC6;*/
}

.nav-tertiary .nav-tertiary-element {
	width:174px;
	margin:0;
	padding:0 0 0 14px;
	text-align:left;
	position:relative;
	display:block;
	top:0;
	overflow:visible;
	float:left;
	list-style-position:outside!important;
	/*background-color:#966;*/
}
/*
 ***************************************************************************
 *	QUATERNARY NAV LINKS CSS
 ***************************************************************************
*/
.nav-quaternary {
	width:190px;
	min-height:230px;
	margin:0;
	padding:0;
	list-style:none;
	background-color:none;
	display:block;
	position:relative;
	top:0;
	white-space:normal;
}

.nav-quaternary .nav-quaternary-element, .nav-quaternary .nav-quaternary-element-wide {
	width:172px;
	height:auto!important;
	margin:6px 0 0 0;
	padding:0 0 9px 0;
	overflow:visible!important;
	white-space:normal!important;
	list-style-position:outside!important;
}

.nav-quaternary .nav-quaternary-element-wide {
	width:500px;
}

.nav-quaternary .nav-quaternary-element-title, .nav-quaternary .nav-quaternary-element-title-wide {
	width:172px;
	height:30px!important;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px!important;
	color:#aaa!important;
	text-align:left;
	/*text-transform:uppercase;*/
	font-weight:bold!important;
	display:block!important;
	position:relative;
	overflow:visible;
	white-space:normal;
	/*top:5px!important;*/
	list-style-position:outside!important;
}

.nav-quaternary .nav-quaternary-element-title-wide {
	width:200px;
}

.nav-quaternary .nav-quaternary-element-title h3, .nav-quaternary .nav-quaternary-element-title a, .nav-quaternary .nav-quaternary-element-title a:visited, .nav-quaternary .nav-quaternary-element-title a:active, .nav-quaternary .nav-quaternary-element-title-wide h3, .nav-quaternary .nav-quaternary-element-title-wide a, .nav-quaternary .nav-quaternary-element-title-wide a:visited, .nav-quaternary .nav-quaternary-element-title-wide a:active {
	height:30px!important;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px!important;
	color:#aaa!important;
	text-align:left;
	/*text-transform:uppercase;*/
	font-weight:bold!important;
	display:block!important;
	position:relative;
	overflow:visible;
	white-space:normal;
	top:0!important;
}

.nav-quaternary .nav-quaternary-element-title a:hover, .nav-quaternary .nav-quaternary-element-title.over, .nav-quaternary .nav-quaternary-element-title-wide a:hover, .nav-quaternary .nav-quaternary-element-title-wide.over {
	text-decoration:underline;
}

.nav-quaternary .nav-quaternary-element a, .nav-quaternary .nav-quaternary-element-wide a {
	width:172px;
	height:auto!important;
	margin:0;
	padding:0!important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px!important;
	line-height:16px!important;
	color:#fff!important;
	font-weight:normal!important;
	text-transform:none;
	text-decoration:none;
	background:none;
}

.nav-quaternary .nav-quaternary-element a:hover, .nav-quaternary .nav-quaternary-element-wide a:hover {
	color:#ffc61e!important;
	background:none;
}

.nav-quaternary .nav-quaternary-element a.more-btn, .nav-quaternary .nav-quaternary-element-wide a.more-btn  {
	width:172px;
	margin:0;
	padding:0 12px 0 0!important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fcf1b4!important;
	font-weight:normal!important;
	text-transform:none;
	text-decoration:none;
	background:url(/system/assets/images/branding-arrow-right-more.png) no-repeat right 2px;
}

.nav-quaternary .nav-quaternary-element a.more-btn:hover, .nav-quaternary .nav-quaternary-element-wide a.more-btn:hover  {
	color:#ffc61e!important;
	background:url(/system/assets/images/branding-arrow-right-more-over.png) no-repeat right 2px;
}

.nav-quaternary-element a.more-btn img, .nav-quaternary-element-wide a.more-btn img {
	vertical-align:middle;
	margin:0 0 0 3px;
	padding:0;
}
/*
 ***************************************************************************
 *	SEARCH TOOL CSS
 ***************************************************************************
*/
#branding-header-tools #branding-nav .nav-primary .search-element {
	height:26px;
	margin:0 6px 0 0;
	display:block;
	display:inline;
	float:right;
}
	
#branding-header-tools #branding-nav .nav-primary .search-element input#SearchField {
	width:170px;
	height:18px;
	margin:0;
	padding:0 5px;
	color:#454545;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:18px;
	border:0 none;
	display:block;
	position:relative;
	top:4px;
	right:6px;
}

#branding-header-tools #branding-nav .nav-primary .search-element a#SearchBtn {
	width:54px;
	height:20px;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:19px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	background-color:#626262;
	background: -moz-linear-gradient(top, #c4c4c4, #4f4f4f);
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#4f4f4f));
	position:relative;
	display:block;
	top:3px;
	right:6px;
	border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
}

.sup {
	margin:0;
	padding:0;
	position:relative;
	top:-2px;
	/*font-size:.8em;*/
}