/*
 ***************************************************************************
 *	Microsite Buttons CSS
 ***************************************************************************
*/

.button,
.button-opposite {
	/*font-size: 20px;*/
	/*line-height: 20px;*/
	font-size: 1.538em;
	line-height: 1.538em;
	font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
	color: #3b3b3b;
	text-decoration: none !important;
	text-align: center;
		text-shadow: 1px 1px 2px #fff;
	display: block;
	background-color: #f9d616;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf4c0), color-stop(48%,#fdc62a), color-stop(51%,#fdbc07), color-stop(92%,#fdb905), color-stop(100%,#facd11));
		background-image: -webkit-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: -moz-linear-gradient(top, #fdf4c0 0%, #fdc62a 48%, #fdbc07 51%, #fdb905 92%, #facd11 100%);
		background-image: -o-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: -ms-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
	margin: 16px 0 18px;
	padding: 4px 14px; /*9px 18px*/
	width: 140px;
	border: 1px solid #fdc132;
		-webkit-border-radius: 12px 12px;
		-moz-border-radius: 12px 12px;
		border-radius: 12px 12px;
		-webkit-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		-moz-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf4c0', endColorstr='#facd11', GradientType=0);
}

.small-button {
	/*font-size: 16px;*/
	/*line-height: 16px;*/
	font-size: 1.231em;
	line-height: 1.231em;
	font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
	color: #3b3b3b;
	text-decoration: none !important;
	text-align: center;
		text-shadow: 1px 1px 2px #fff;
	white-space: nowrap;
	display: inline-block;
	background-color: #f9d616;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf4c0), color-stop(48%,#fdc62a), color-stop(51%,#fdbc07), color-stop(92%,#fdb905), color-stop(100%,#facd11));
		background-image: -webkit-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: -moz-linear-gradient(top, #fdf4c0 0%, #fdc62a 48%, #fdbc07 51%, #fdb905 92%, #facd11 100%);
		background-image: -o-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: -ms-linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
		background-image: linear-gradient(top, #fdf4c0 0%,#fdc62a 48%,#fdbc07 51%,#fdb905 92%,#facd11 100%);
	margin: 0 2px;
	padding: 0px 8px 2px;
	border: 1px solid #fdc132;
		-webkit-border-radius: 6px 6px;
		-moz-border-radius: 6px 6px;
		border-radius:  6px 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf4c0', endColorstr='#facd11', GradientType=0);
}

.small-button-alt-wrapper {
	/*position: relative;
	width: 150px;
	height: 38px;
	margin: 0;
	*margin-top: -40px;
	margin-right: 0;
	padding: 0;*/
	/* For some reason this lays on top of the clickable links. */
}

.small-button-alt {
	/*font-size: 16px;*/
	/*line-height: 16px;*/
	font-size: 1.231em;
	line-height: 1.231em;
	font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none !important;
	text-align: center;
		text-shadow: 1px 1px 2px #3b3b3b;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	right: 30px;
	background-color: #0084c9;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8Fd7F0), color-stop(48%,#1588ce), color-stop(51%,#007bc9), color-stop(92%,#006Fc3), color-stop(100%,#0096d6));
		background-image: -webkit-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: -moz-linear-gradient(top, #8Fd7F0 0%, #1588ce 48%, #007bc9 51%, #006Fc3 92%, #0096d6 100%);
		background-image: -o-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: -ms-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		
	margin: 8px 2px;
	padding: 0 8px 2px;
	border: 1px solid #00A3dd;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius:  6px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8Fd7F0', endColorstr='#0096d6');*/
	cursor: pointer;
}

.button-alt,
.button-alt-opposite {
	/*font-size: 20px;*/
	/*line-height: 20px;*/
	font-size: 1.538em;
	line-height: 1.538em;
	font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-align: center;
		text-shadow: 1px 1px 2px #3b3b3b;
	display: block;
	background-color: #0084c9;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8Fd7F0), color-stop(48%,#1588ce), color-stop(51%,#007bc9), color-stop(92%,#006Fc3), color-stop(100%,#0096d6));
		background-image: -webkit-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: -moz-linear-gradient(top, #8Fd7F0 0%, #1588ce 48%, #007bc9 51%, #006Fc3 92%, #0096d6 100%);
		background-image: -o-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: -ms-linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
		background-image: linear-gradient(top, #8Fd7F0 0%,#1588ce 48%,#007bc9 51%,#006Fc3 92%,#0096d6 100%);
	margin: 16px 0 18px;
	padding: 4px 14px; /*9px 18px*/
	width: 140px;
	border: 1px solid #00A3dd;
		-webkit-border-radius: 12px 12px;
		-moz-border-radius: 12px 12px;
		border-radius: 12px 12px;
		-webkit-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		-moz-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8Fd7F0', endColorstr='#0096d6', GradientType=0);
}

.button-opt {
	/*font-size: 20px;*/
	/*line-height: 20px;*/
	font-size: 1.538em;
	line-height: 1.538em;
	font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-align: center;
		text-shadow: 1px 1px 2px #333;
	display: block;
	background-color: #999;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(48%,#aaaaaa), color-stop(51%,#999999), color-stop(92%,#aaaaaa), color-stop(100%,#bbbbbb));
		background-image: -webkit-linear-gradient(top, #dedede 0%,#aaaaaa 48%,#999999 51%,#aaaaaa 92%,#bbbbbb 100%);
		background-image: -moz-linear-gradient(top, #dedede 0%, #aaaaaa 48%, #999999 51%, #aaaaaa 92%, #bbbbbb 100%);
		background-image: -o-linear-gradient(top, #dedede 0%,#aaaaaa 48%,#999999 51%,#aaaaaa 92%,#bbbbbb 100%);
		background-image: -ms-linear-gradient(top, #dedede 0%,#aaaaaa 48%,#999999 51%,#aaaaaa 92%,#bbbbbb 100%);
		background-image: linear-gradient(top, #dedede 0%,#aaaaaa 48%,#999999 51%,#aaaaaa 92%,#bbbbbb 100%);
	margin: 16px 0 18px;
	padding: 4px 14px; /*9px 18px*/
	width: 140px;
	border: 1px solid #888;
		-webkit-border-radius: 12px 12px;
		-moz-border-radius: 12px 12px;
		border-radius: 12px 12px;
		-webkit-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		-moz-box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
		box-shadow: 2px 2px 8px rgba(102, 102, 102, 1.0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bbbbbb', GradientType=0);
}

.button em, .small-button em, .button-alt em, .button-opt em {
	font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
}

.button:hover,
.button-alt:hover,
.button-opt:hover,
.button-opposite:hover,
.button-alt-opposite:hover {
	text-decoration: none;	
}

.copy-block .button,
.copy-block-right .button,
.copy-block .button-alt,
.copy-block-right .button-alt,
.copy-block-left .button-opposite,
.copy-block-left .button-alt-opposite {
	position: absolute;
	right: 0;
	bottom: -16px;
}

.copy-block .button-opposite,
.copy-block .button-alt-opposite,
.copy-block-left .button,
.copy-block-left .button-alt,
.copy-block-right .button-opposite,
.copy-block-right .button-alt-opposite {
	position: absolute;
	bottom: -16px;
	left: 0;
}

.buffer .button, .buffer .button-alt, .buffer .button-opt {
	float: left;
	clear: left;
}

.download {
	display: inline-block;
	background: transparent url(/system/assets/icons/link-icons.gif) no-repeat 0 0;
	margin: 8px 0;
	height: 24px;
	width: 206px;
	overflow: hidden;
}

.download:hover {
	text-decoration: none;	
}

	.download span {
		/*font-size: 14px;*/
		/*line-height: 25px;*/
		font-style: normal;
		font-weight: normal;
		font-size: 1.077em;
		line-height: 1.923em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #454545;
		margin-left: 30px;
	}
	
		.download span em {
			font-style: normal;
			font-weight: normal;
			color: #0084C9;
			padding-right: 4px;	
		}
	
.video {
	display: inline-block;
	background: transparent url(/system/assets/icons/link-icons.gif) no-repeat 0 -24px;
	margin: 8px 0;
	height: 24px;
	width: 142px;
	overflow: hidden;
}

.video:hover {
	text-decoration: none;	
}

	.video span {
		/*font-size: 14px;*/
		/*line-height: 25px;*/
		font-style: normal;
		font-weight: normal;
		font-size: 1.077em;
		line-height: 1.923em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #454545;
		margin-left: 30px;
	}
	
	.video span em {
		font-style: normal;
		font-weight: normal;
		color: #0084C9;
		padding-right: 4px;	
	}

.more-info {
	display: inline-block;
	background: transparent url(/system/assets/icons/link-icons.gif) no-repeat 0 -48px;
	margin: 8px 0;
	height: 24px;
	width: 113px;
	overflow: hidden;
}

.more-info:hover {
	text-decoration: none;	
}

	.more-info span {
		/*font-size: 14px;*/
		/*line-height: 25px;*/
		font-style: normal;
		font-weight: normal;
		font-size: 1.077em;
		line-height: 1.923em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #454545;
		margin-left: 30px;
	}
	
	.more-info span em {
		font-style: normal;
		font-weight: normal;
		color: #0084C9;
		padding-right: 4px;	
	}
	
.purchase {
	display: inline-block;
	background: transparent url(/system/assets/icons/link-icons.gif) no-repeat 0 -72px;
	margin: 8px 0;
	height: 24px;
	width: 110px;
	overflow: hidden;
}

.purchase:hover {
	text-decoration: none;	
}

	.purchase span {
		/*font-size: 14px;*/
		/*line-height: 25px;*/
		font-style: normal;
		font-weight: normal;
		font-size: 1.077em;
		line-height: 1.923em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #454545;
		margin-left: 30px;
	}
	
	.purchase span em {
		font-style: normal;
		font-weight: normal;
		color: #0084C9;
		padding-right: 4px;	
	}
	
.buffer .social-icon {
	vertical-align: top;
	display: inline-block; 
}

.app-store {
	display: block;
	margin: 16px 0 18px;
}

.copy-block .app-store, .copy-block-left .app-store, .copy-block-right .app-store {
	display: block;
	margin: 30px 0 18px;
}
