/*
 ***************************************************************************
 *	VS Registration CSS
 ***************************************************************************
*/
.contact-form ol,
.contact-form ol li {
	display: block;
	padding: 0;
}

.contact-form ol,
.contact-form ol li label {
	background: #f2f2f2;
}

.contact-form ol {
	margin: 10px auto 18px 0;
	height: 576px;
	width: 670px;
	-webkit-border-radius: 6px 6px;
	-moz-border-radius: 6px 6px;
	border-radius: 6px 6px;
}

.contact-form ol,
.contact-form ol,
.contact-form ol li textarea,
.contact-form ol li input,
.contact-form ol li select {
	border: 1px solid #d5d5d5;	
}

.contact-form ol li label,
.contact-form ol li input,
.contact-form ol li select,
#special-request textarea {
	position: absolute;
}

.contact-form ol li label,
.contact-form ol li input,
.contact-form ol li select {
	left: 65px;
}

.contact-form ol li label {
	top: 18px;
}

.contact-form ol,
.contact-form ol li textarea,
.contact-form ol li input,
.contact-form ol li select {
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-radius: 3px 3px;
}

.contact-form ol li {
	margin: 0;
	float: left;
	height: 62px;
	width: 335px;
	list-style-type: none;
	position: relative;
}
	
.contact-form ol li input,
.contact-form ol li select {
	width: 204px;
	top: 40px;
}

.contact-form .error textarea,
.contact-form .error input,
.contact-form .error select,
.contact-form .error option {
	background: #fde2de;
	border: 1px solid #dc1900;
}

.contact-form .valid textarea,
.contact-form .valid input,
.contact-form .valid select,
.contact-form .valid option {
	background: #dbffe4;
	border: 1px solid #29a449;
}

	#Vs_registration ol {
		height: 328px;
	}
	
	.contact-form ol li label {
		height: 22px;
		width: 205px;
	}
	
.contact-form .dynamic-form {
	height: auto;
	padding-bottom: 20px;	
}