/*
 ***************************************************************************
 *	Microsite Content Layout CSS
 ***************************************************************************
*/
	#container {
		padding-top: 10px;
		clear: both;
		width: 100%;
		/*margin-left: auto;
		margin-right: auto;
		width: 320px;*/
	}
	
	#content-area {
		width: 100%;
		/*margin-left: auto;
		margin-right: auto;
		width: 320px;*/
	}
	
	#content-two-col {
		width: 100%;
		/*margin-left: auto;
		margin-right: auto;
		width: 320px;*/
	}
	
	#content-two-col {
		/*padding: 0;
		overflow: visible;*/
		margin-top: 30px;
		z-index: 0;
	}
	
		#content-two-col #col-one {
			/*margin-right: 0;*/
			/*margin-left: -245px;*/
			/*float: right;*/
			/*width: auto;*/ /*100%*/
		}
			/*24px*/
			#content-two-col #col-one #content {
				/*margin-left: 270px;*/
				width: 100%; /*690px*/
			}
	
	#content-two-col #col-two {
		margin: 20px 10px;
		/*float: left;*/
		width: auto;
		z-index: 10;
	}
	
	* html body #content-two-col #col-two {
	}
	
	#container #content {
		margin: 0 auto;
	}
	
	#content hr {
		color: #EBEBEB;
		background-color: #EBEBEB;
		margin: 5px 0;
		clear: both;
		height: 1px;
		border: 0 none;
	}
	
	#content hr:last-child {
		color: #FFF;
		background-color: #FFF;
		margin: 5px 0;
		clear: both;
		height: 1px;
		border: 0 none;
	}
	
/*
 ***************************************************************************
 *	Microsite Content Area CSS
 ***************************************************************************
*/

.buffer {
	margin: 18px 10px 12px;
}

#container #content .buffer {
	margin: 12px 10px;
}

	.buffer h1 {
		/*font-size: 26px;*/
		font-size: 2em;
		line-height: 1.3em;
		font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
		color: #DC1900;
		margin-top: 5px;
	}
	
	.buffer h1 a, .buffer h1 em {
		font-style: normal;
		font-family: "AvenirLTW01-65MediumObl", Arial, Helvetica, sans-serif;	
	}
	
		.buffer h1 a, .buffer h2 a, .buffer h3 a {
			color: #0084c9;
		}
	
	.buffer h2 {
		/*font-size: 21px;*/
		font-size: 1.615em;
		line-height: 1.3em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #000;
		margin-top: 24px;
		margin-bottom: 6px;
	}
	
		.buffer h2 sup {
			vertical-align: top;	
		}
	
		.buffer h2 a, .buffer h2 em {
			font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
			font-style: normal !important;
		}
	
	.buffer h3 {
		font-weight: bold;
		/*font-size: 14px;*/
		/*font-size: 1.077em;*/
		font-size: 1.2em;
		/*line-height: 1.43em;*/
		line-height: 1.63em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: compact;
		margin-top: 8px;
	}
	
		.buffer h3 a, .buffer h3 em {
			font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
		}
	
	.buffer p {
		/*font-size: 13px;*/
		/*font-size: 1em;*/
		font-size: 1.15em;
		line-height: 1.54em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		margin: 8px 0;	
	}
	
	.buffer sup {
		font-size: .76em;
		vertical-align: super;	
	}
	
	.buffer p a, .buffer li a, .buffer .toc, .buffer .email {
		/*font-size: 14px;*/
		/*font-size: 1.077em;*/
		font-size: 1.2em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #0084C9;
	}
	
	.buffer p a em, .buffer li a em {
		font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
	}
	
	.buffer ul, .buffer ol, .buffer ul.half-width, .buffer ol.half-width {
		/*font-size: 13px;*/
		/*font-size: 1em;*/
		font-size: 1.15em;
		line-height: 1.54em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: block;
		margin: 8px 10px 8px 0;
		clear: both;
		width: auto;
	}
	
	.buffer .unstyled {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	.buffer .unstyled li {
		margin: 0;
		padding: 0;
	}
	
	.buffer ul.half-width, .buffer ol.half-width {
	}
	
	.buffer ul li {
		/*display: list-item;*/
		margin-left: 22px;
		padding: 4px 0;
		/*width: 100%;*/
		/*list-style-type: disc;*/
		list-style-position: outside;
	}
	
	.buffer ol li {
		/*display: list-item;*/
		margin-left: 27px;
		padding: 4px 0;
		/*width: 100%;*/
		list-style-type: decimal;
		list-style-position: outside;
	}
	
		.buffer ol ul, .buffer ul ol, .buffer ul ul, .buffer ol ol {
			font-size: 1em;
		}
	
		.buffer ol ol {
			display: block;
			margin: 0;
		}
		
			.buffer ol ol li {
				padding: 0;
				list-style-type: lower-alpha;
			}
		
				.buffer ol ol ol {
					display: block;
					margin: 0;
				}
				
					.buffer ol ol ol li {
						list-style-type: lower-roman;
						padding: 0;
					}
	
	.buffer .disclaimer {
		letter-spacing: .1em;	
	}
	
	.buffer .right-align {
		
	}
	
	.buffer .left-align {
		
	}
	
	.multi-buttons-right {

	}
	
		.multi-buttons-right span {
		
		}
		
		.multi-buttons-right span a {

		}
	
	.button-wrap {
		/*display: block;
		width: 92%;
		position: relative;
		padding-right: 20px;
		bottom: 0;
		left: 0;*/
		margin-right: 30px;
		position: relative;
	}
	
	span.right-align {
		/*width: 90% !important;
		padding-right: 20px;
		display: block;	*/
		
	}
	
	.slide-button-wrap {
		/*display: block;
		width: 92%;
		position: absolute;
		padding-right: 20px;
		bottom: 0;
		left: 0;*/	
		margin-right: 22px;
		position: relative;
	}
	
	.buffer .team-rep-right {
		text-align: center;
		display: block;
		margin: 8px auto 24px;
		/*float: right;*/
		width: 180px;
		min-width: 180px;
		max-width: 180px;
	}
	
	.buffer .team-rep-left {
		text-align: center;
		display: block;
		margin: 24px auto;
		/*float: left;*/
		width: 180px;
		min-width: 180px;
		max-width: 180px;
	}
	
	.buffer .book-list {
		display: block;
		background-color: #EBEBEB;
		margin: 24px auto 24px auto;
		padding: 4px 0;
		/*float: right;*/
		width: auto;
		min-width: auto;
		max-width: auto;
		-webkit-border-radius: 6px 6px;
		-moz-border-radius: 6px 6px;
		border-radius: 6px 6px;
	}
	
		.buffer .book-list li {
			margin: 0 6px;
			padding: 2px 0;
			list-style-type: none;	
			list-style-position: outside;
		}
		
/*
 ***************************************************************************
 *	Microsite Coda Replacement
 ***************************************************************************
*/

/*.bucket-wrap {
	margin: 0 10px 12px;
}*/

.slide-wrap {
	margin: 0 20px 10px 12px;
}

.slide-wrap .buckets {
	position: relative;
	width: 100%;
	height: 410px;
}

	.slide-wrap .buckets h1, .slide-wrap .buckets h2 {
		/*font-size: 21px;*/
		font-size: 2em;
		line-height: 1.3em;
		font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
		color: #000;
	}
	
		.slide-wrap .buckets h1 a, .slide-wrap .buckets h1 em, .slide-wrap .buckets h2 a, .slide-wrap .buckets h2 em {
			font-style: normal;
			font-family: "AvenirLTW01-65MediumObl", Arial, Helvetica, sans-serif;
			color: #000;
		}

	.slide-wrap .buckets p {
		/*font-size: 13px;*/
		/*font-size: 1em;*/
		font-size: 1.15em;
		line-height: 1.54em;
		font-family: Arial, Helvetica, sans-serif;
		color: #676767;
		margin: 8px 0;
		width: auto;
		height: auto;
	}
	
		.slide-wrap .buckets p a {
			/*font-size: 14px;*/
			/*font-size: 1.077em;*/
			font-size: 1.2em;
			font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
			color: #0084C9;
		}
		
			.slide-wrap .buckets p a em {
				font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
			}
		
/*
 ***************************************************************************
 *	Microsite Product Landing Page CSS
 ***************************************************************************
*/

.product-page-content {
	margin-top: 24px;	
}

.product-page-content h1 a {
	color: #787878;
	background: url(/system/assets/images/program-h1-arrow.png) no-repeat right center;
	margin-right: 5px;
	padding-right: 30px;
}

.program-item {
	margin: 28px 0;
	padding: 10px;
	/*float: left;*/
	height: auto;
	width: auto;
	border-bottom: 1px solid #EBEBEB;
	position: relative;
}

	.program-item:last-child {
		border-bottom: 1px solid #FFF;
	}

.program-item .image-left, .program-item .image-center {
	border: 1px solid #ccc;
	-webkit-border-radius: 18px 18px;
	border-radius: 18px 18px;	
}
/* BLOCKQUOTES */
blockquote {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.54em;
    display: block;
    clear: both;
    width: auto;
    margin: 0 10px;
    font-size: 1.1em;
    padding: 5px 10px 10px 10px;
    background: url(/system/assets/images/art_quotes.gif) no-repeat 0 0;
}

blockquote p {
    display: block;
    font-size: 1.1em !important;
    padding-top: 10px;
    padding-right: 10px;
    background: url(/system/assets/images/art_quote_rt.gif) no-repeat bottom right;
}

blockquote span.attribution {
    display: block;
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 1.0em;
    color: #666;
}

/*
 ***************************************************************************
 *	Campaign Location Page CSS
 ***************************************************************************
*/

.campaign {	
	margin: 10px auto;
}

.location-header, .home-header {
	margin-top: 10px;
	width: 100%;
}

	.location-header .slide {
		height: 600px;
		position: relative;
		width: 100%;
	}
	
	.location-header .slide {}
	
	.home-header .slide {
		height: 500px;
		margin: 0 auto;
		width: 320px;
		position: relative;
	}
	
	.location-header .slide img {
		border: 1px solid #d5d5d5;
		display: block;
		min-width: 25px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.home-header .slide img {
		height: 118px;
		left: 0;
		position: absolute;
		top: 0;
		width: 320px;
	}
	
	.location-header .slide .copy-block {
		display: block; 
		left: 0;
		position: absolute;
		right: 10px;
		width: auto;
		top: 160px;
	}
	
	.home-header .slide .copy-block {
		display: block;
		position: absolute;
		top: 128px;	
	}
	
	.location-header h1, .home-header h1 {
		font-size: 3em;
		line-height: 1.16em;
		font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
	}
	
	.location-header h1 {
	}
	
	.location-header h1 a,
	.location-header h1 em,
	.home-header h1 a,
	.home-header h1 em {
		font-style: normal;
		font-family: "AvenirLTW01-65MediumObl", Arial, Helvetica, sans-serif;
	}
	
	.location-header h1,
	.location-header h1 a,
	.location-header h1 em {
		color: #000;
	}
	
	.home-header h1,
	.home-header h1 a,
	.home-header h1 em {
		color: #000;	
	}
	
	.location-header h1 a,
	.home-header h1 a,
	.location-header p a {
		text-decoration: none !important;	
	}
	
	.location-header h1 a:hover,
	.home-header h1 a:hover,
	.location-header p a:hover {
		text-decoration: underline !important;	
	}
	
	.home-header sup {
		font-size: 75%;
		line-height: 0;
		vertical-align: super;
	}
	
	.location-header span {
		display: block;
		font-size: .75em;	
	}
	
	.location-header p {
		font-size: 1.154em;
		line-height: 1.6em;
		font-family: Arial, Helvetica, sans-serif;
		color: #676767;
		margin: 18px 0;
	}
	
	.home-header p {
		color: #000;
		font-size: 1.077em;
		line-height: 1.5em;
		margin-top: 13px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.home-header .button-wrap {
		position: absolute;
		bottom: 0;
		width: 270px;
		left: 10px;
		right: auto;
	}
	
.two-space-bucket-stacked {
	display: block;
	overflow: hidden;
}

	.two-space-bucket-stacked li {
		display: block;
		background-color: #e8e8e8;
			background-image: -webkit-gradient(linear, left top, left bottom, to(#efefef), from(#d5d5d5));
			background-image: -webkit-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -moz-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -o-linear-gradient(top, #efefef, #d5d5d5);
			background-image: -ms-linear-gradient(top, #efefef, #d5d5d5);
			background-image: linear-gradient(top, #efefef, #d5d5d5);
		margin: 0 10px 16px 10px;
		height: 190px;
		width: auto;
		border: 1px solid #d5d5d5;
			-webkit-border-radius: 12px 12px;
			-moz-border-radius: 12px 12px;
			border-radius: 12px 12px;
		list-style-type: none;
		list-style-position: outside;
		position: relative;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#d5d5d5', GradientType=0);
	}
	
		.two-space-bucket-stacked h2 {
			font-size: 1.462em;
			font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
			color: #000;
			margin: 12px 12px 0 12px;
		}
		
			.two-space-bucket-stacked h2 em {
				font-style: normal;
				font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
			}
		
		.two-space-bucket-stacked p {
			font-size: 1.154em;
			line-height: 1.6em;
			font-family: Arial, Helvetica, sans-serif;
			color: #454545;
			margin: 6px 12px 6px 12px;
			padding-right: 12px;
		}

		.two-space-bucket-stacked img {
			display: block;
			height: 80px;
			width: 162px;
			margin: 12px auto 12px;
		}
	
	.campaign-header {
		font-size: 1.615em;
		line-height: 1.3em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #000;
		margin: 24px 10px 6px;
		width: 300px;
	}
	
		.campaign-header sup {
			vertical-align: top;	
		}
	
		.campaign-header a, .campaign-header em {
			font-family: "OfficinaSansITCW01-Bold", Arial, Helvetica, sans-serif;
		}
		
	.campaign .campaign-header {
		margin-bottom: 0;
	}
	
	.one-space-bucket, .two-space-bucket {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;
	}
	
	.two-space-bucket li {
		background-color: #FFF;
		border: 1px solid #FFF;
		display: block;
		height: 360px;
		list-style-type: none;
		margin: 10px 0;
		padding: 0;
		position: relative;
		width: 100%;
	}
	
	.two-space-bucket li:nth-child(odd) {
	}
	
	.two-space-bucket ul li.odd {
	}
	
	.two-space-bucket li:hover {
	}
	
	.one-space-bucket .bucket {
		background-color: #FFF;
		border: 1px solid #FFF;
		display: block;
		height: 725px;
		margin: 18px auto;
		padding: 18px 0;
		position: relative;
		width: 300px;
	}
	
	.one-space-bucket .bucket:first-child {
		margin-top: 0;	
	}
	
	.two-space-bucket .bucket {
		padding: 0;
		position: relative;	
	}
	
	.one-space-bucket .bucket-wrap {
		left: 0 !important;
		top: 0 !important;	
	}
	
	.two-space-bucket li img {
		border: 1px solid #EFEFEF;
			-webkit-border-radius: 18px 18px;
			-moz-border-radius: 18px 18px;
			border-radius: 18px 18px;
		display: block;
		height: 118px;
		margin: 18px auto;
		overflow: hidden;
		width: 118px;
	}
	
	.one-space-bucket h3, .two-space-bucket li h3 {
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1.63em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		display: compact;
		margin-bottom: 6px;
	}
	
	.one-space-bucket h3 {
		margin-bottom: 18px;	
	}
	
	.one-space-bucket p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.154em;
		line-height: 1.6em;
		color: #454545;
	}
	
	.two-space-bucket li p {
		font-size: 1.154em;
		line-height: 1.6em;
		font-family: Arial, Helvetica, sans-serif;
		color: #454545;
		margin: 0;	
	}
	
	.one-space-bucket sup, .two-space-bucket sup {
		font-size: 75%;
		line-height: 0;
		vertical-align: super;
	}
	
	
	.one-space-bucket .bucket a.call-out-link, .two-space-bucket li a.call-out-link {
		font-size: 1.154em;
		line-height: 1.6em;
		font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
		color: #0084c9;
		background: transparent url(/system/assets/images/call-to-arrow.png) no-repeat right center;
		padding-right: 15px;
		position: relative;
	}
	
	/*.one-space-bucket .bucket a.call-out-link {
		bottom: 18px;
		left: 18px;	
	}*/
	
	.campaign-sales .unstyled li {
		margin-bottom: 5px;
		overflow: hidden;
		width: 300px;
	}
	
	.campaign-sales .unstyled li p {
		margin: 0;
	}
	
	.campaign-events h3 {
		margin-top: 24px;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation {
		font: italic bold 1.15em Arial, Helvetica, sans-serif;
		margin-top: 16px;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation em {
		font: bold 13px Arial, Helvetica, sans-serif;
	}
	
	.campaign-events .presenter {
		font: 1.15em Arial, Helvetica, sans-serif;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.campaign-events .presentation-time {
		font: 1.15em Arial, Helvetica, sans-serif;
		margin-top: 0;
		margin-bottom: 8px;
	}