/*
 ***************************************************************************
 *	Footer Elems
 ***************************************************************************
*/

.trademark-credits {
	font-size: 0.769em;
	line-height: 1.54em;
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
	text-align: center;
	display: block;
	margin: 0;
	padding: 40px 10px 0;
	width: auto;
	clear: both;
}

	.trademark-credits sup {
		font-size: .8em;
		vertical-align: super;	
	}
	
	.trademark-credits a {
		color: #454545;
	}

#footer {
	padding-top: 40px;
	margin: 0;
	width: 100%;
	clear: both;
}

	#footer ul {
		text-align: center;
		width: auto;
	}
	
		#footer li {
			font-family: Arial, Helvetica, sans-serif;
			display: inline;
			list-style-type: none;
		}
		
	#social-media, #contact {
		margin-bottom: 6px;
	}
		
		#contact li {
			text-align: center;
			padding: 0 10px 0 6px;
		}
		
		#contact li:first-child {
			
		}
		
			#contact li a, .top {
				font-weight: bold;
				font-size: 0.923em;
				color: #666;
			}
		
	#terms-copyright {
		margin-top: 6px;
		margin-left: 20px;
		padding-bottom: 40px;
	}
	
		#terms-copyright li {
			font-size: 0.846em;
			color: #999;
			padding: 4px 18px 0 0;
		}
		
			#terms-copyright li a {
				color: #999;
			}
		
		/* not in orginal css */	
		#terms-copyright li:nth-child(3) {
			text-align: center;
			display: block;
		}

		/* not in orginal css */
		#terms-copyright li:last-child {
			text-align: center;
			display: block;
			margin: 10px auto;
			width: 220px;
		}
			
	.time {
		display: none;
	}
	
	#toTop {
		text-decoration: none;
		text-indent: -999px;
		display: none;
		background: url(/system/assets/images/ui.totop.png) no-repeat left top;
		height: 51px;
		width: 51px;
		border: none;
		overflow: hidden;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 10;
		opacity: 0;
	}
	
	#toTopHover {
		display: none;
		background: url(/system/assets/images/ui.totop.png) no-repeat left -51px;
		float: left;
		height: 51px;
		width: 51px;
		overflow: hidden;
		opacity: 0;
	}
	
	#toTop:active,
	#toTop:focus {
		outline: none;
	}
	
	.top {
		font-family: Arial, Helvetica, sans-serif;
		line-height: normal;
		text-align: center;
		display: block;
		clear: both;
		width: 100%;
	}
	
	#footer .top {
		margin-bottom: 20px;	
	}