/*
 ***************************************************************************
 *	Microsite Coda CSS
 ***************************************************************************
*/

#coda-slider-wrapper { display: none;
	margin: 12px 0 0;
	padding: 0;
	width: 320px;
	position: relative;
	zoom: 1;
}

	.coda-slider {
		background-color: #e8e8e8;
		height: 116px;
		width: 318px;
		border: 1px solid #d5d5d5;
	}

	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider {
		padding-right: 20px;
		height: 116px;
		width: 320px;
		overflow: auto !important;
	}

	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel {
		width: 320px;
	} 

	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
		width: 320px;
	}
	
	.coda-slider-wrapper.arrows .coda-slider {
	}

	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a {
		height: 76px;
		width: 31px;
		z-index: 10;
	}

	/* Tab nav */
	.coda-nav li a {
		background-color: #787878;
	}
	
	.coda-nav ul li a.current {
		background-color: #ccc;
	}
	
	.coda-nav ul li a:hover {
		background-color: #82c6e2;
	}

	/* Panel padding */
	.coda-slider .panel-wrapper {

	}

	/* Preloader */
	.coda-slider p.loading {
		text-align: center;
		padding: 20px;
		height: 18px;
	}
	
	.coda-slider p.loading img {
		display: block;
		margin: 10px auto;
		z-index: 10;
	}

	/* Don't change anything below here unless you know what you're doing */
	/* Tabbed nav */
	.coda-nav ul {
		text-align: center;
		display: block;
		background-color: #fff;
		margin: 0;
		padding: 8px 0;
		clear: both;
		height: 6px;
		width: 320px !important;
		overflow: hidden;
	}
	
	.coda-nav ul li {
		display: inline;
		list-style-type: none;
	}
	
	.coda-nav ul li a {
		line-height: 0;
		background-color: #787878;
		display: inline-block;
		margin: 0 3px 0 0;
		padding: 1px;
		height: 8px !important;
		width: 8px !important;
		border: 0 none;
		-webkit-border-radius: 9px 9px;
		-moz-border-radius: 9px 9px;
		border-radius: 9px 9px;
	}

	/* Miscellaneous */
	.coda-slider-wrapper {
		clear: both;
		overflow: auto;
	}
	
	.coda-slider {
		float: left;
		overflow: hidden;
		position: relative;
	}
	
	.coda-slider .panel {
		display: block;
		margin-bottom: 10px;
		float: left;
		height: 350px;
		overflow: hidden;
	}
	
	.coda-slider .panel-container {
		/*position: relative;*/
	}
	
	.coda-nav-left, .coda-nav-right {
		position: absolute;
		top: 18px;
		z-index: 10;
	}
	
	.coda-nav-left {
		left: 1px;
	}
	
	.coda-nav-right {
		right: -1px;
	}
	
	* html .coda-nav-right {
		
	}
	
	.coda-nav-left a, .coda-nav-right a {
		opacity: .5;
	}

	.coda-nav-left a:hover, .coda-nav-right a:hover {
		opacity: 1;
	}
	
	.slide-container {
		position: relative;
	}
	
		.slide-image {
			width: 308px;
			height: 112px;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
		}
		
		.copy-block, .copy-block-left, .copy-block-right { display: none;
			margin: 10px;
			width: 300px;
			position: relative;
			top: 120px;
			z-index: 10;
		}