/*
 ***************************************************************************
 *	RESET ELEMS
 ***************************************************************************
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0;
}

html {
	overflow: scroll;
}

html, body {
	text-align: center;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	line-height: 1;
	margin: 0;
	cursor: default;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
}

	/* For older IEs */
	* html body {
		border: 0;
		position: relative;
		left: auto;
		top: 0;
		right: auto;
		bottom: 0;
	}

body {
	font-size: 13px;
}

body * {
	text-align: left;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

	h1, h2, h3, h4, h5, h6 {
		font-style: normal;
		font-weight: normal;
		line-height: normal;	
	}
	
	p, li, td {
		font-size: 1em;
	}
	
	li {
		list-style-position: inside;
	}
	
	em {
		font-style: italic;
		font-weight: normal;
		font-family: inherit;
	}
	
	strong, em > em {
		font-style: normal;
		font-weight: bold;
		font-family: inherit;
	}
	
	strong em, em strong, em > em > em {
		font-style: italic;
		font-weight: bold;
		font-family: inherit;
	}
	
	* a {
		font-size: 1em;
		outline: none;
	}
	
		a:link, a:visited, a:active {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: underline;
		}
		
	blockquote, q {
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
		td {
			line-height: 1.54em;
			font-family: Arial, Helvetica, sans-serif;
			text-align: left;
			vertical-align: top;
		}
		
	img, a img {
		border: 0 none;
	}
	
	input, select {
		vertical-align: middle;
	}
	
	hr {
		color: #fff;
		background-color: #fff;
		clear: both;
		height: 1px;
		border: 0 none;
	}
	
	pre {
		/*font-size: 14px;*/
		font-size: 1.077em;
		line-height: 1.54em;
		font-family: "Courier New", Courier, monospace;	
	}
	
	ins {
		text-decoration: none;
		outline: none;	
	}
	
	del {
		text-decoration: line-through;	
	}
	
	.clear-all {
		line-height: 1px;
		display: block;
		margin: 0 auto;
		clear: both;
		height: 1px;
	}
	
	.cleared-left {
		clear: left;	
	}
	
	.cleared-right {
		clear: right;	
	}
	
	.hide {
		display: none;	
	}
	
	p.center {
		text-align: center;
	}
		
	p.right {
		text-align: right;	
	}