/*
 ***************************************************************************
 *	VS Registration CSS
 ***************************************************************************
*/
.contact-form {
	margin: 0;
	padding: 10px 0 0;
	width: 298px;
}

.contact-form fieldset {
	margin: 0;
	padding: 0;
}

.contact-form ol,
.contact-form ol li {
	display: block;
	padding: 0;
	position: relative;
}

.contact-form ol,
.contact-form ol li label {
	background-color: #f2f2f2;
}

.contact-form ol {
	width: auto;
	-webkit-border-radius: 6px 6px;
	-moz-border-radius: 6px 6px;
	border-radius: 6px 6px;
}

.contact-form ol,
.contact-form ol li textarea,
.contact-form ol li input,
.contact-form ol li select {
	border: 1px solid #d5d5d5;	
}

.contact-form ol li label,
.contact-form ol li input,
.contact-form ol li select,
.contact-form ol li textarea {
	position: absolute;
}

.contact-form ol li label,
.contact-form ol li input,
.contact-form ol li select {
	left: 10px;
}

.contact-form ol li label {
	top: 18px;
}

.contact-form ol,
.contact-form ol li textarea,
.contact-form ol li input,
.contact-form ol li select {
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-radius: 3px 3px;
}

.contact-form ol li {
	margin: 0;
	height: 62px;
	width: 298px;
	list-style-type: none;
	position: relative;
}

.contact-form ol li:last-child {
	padding-bottom: 20px;
}
	
.contact-form ol li input {
	width: 268px;
	top: 40px;
}

.contact-form ol li select {
	width: 278px;
	top: 40px;
}

.contact-form .error textarea,
.contact-form .error input,
.contact-form .error select,
.contact-form .error option {
	background: #fde2de;
	border: 1px solid #dc1900;
}

.contact-form .error label {
	color: #DC1900;
}

.contact-form .valid textarea,
.contact-form .valid input,
.contact-form .valid select,
.contact-form .valid option {
	background: #dbffe4;
	border: 1px solid #29a449;
}

.contact-form .valid label {
	color: #29A449;
}

.contact-form .text-area {
	height: 120px;
	position: relative;
}
	
	.contact-form .text-area textarea {
		height: 62px;
		left: 10px;
		width: 270px;
		top: 40px;	
	}

	#Vs_registration ol {
	}
	
	.contact-form ol li label {
		height: 22px;
		width: 268px;
	}
	
.contact-form .right-align, .contact-form .right-align .button-wrap {
	margin: 0;
	padding: 0;
	text-align: right;
}

	 .contact-form .right-align .button-wrap {
		margin-right: 10px; 
	 }

/*----Added to shorten inherited height from .contact-form class----*/
.contact-form .dynamic-form {
	height: auto;
	padding-top: 8px;
	padding-bottom: 0;	
}
	 
.contact-form .dynamic-form input[type="checkbox"] {
	display: inline;
	height: 14px;
	width: 14px;
	position: relative;
	top: 0;
	border: 0 none;
}

.contact-form .dynamic-form .checkbox label {
	display: inline;
	height: auto;
	width: auto;
	position: relative;
	top: 2px;
}

