/*
 ***************************************************************************
 *	Microsite Tabs CSS
 ***************************************************************************
*/

.tabNavPrimary .h-tabs {
	margin: 12px 18px 0;
	zoom: 1;
}

	#container .tabNavPrimary .h-tabs {
		margin: 12px 28px 0;
	}

	.tabNavPrimary .h-tabs li {
		display: inline;
		margin: 0 6px 0 0;
		list-style-type: none;
		list-style-position: outside;
		
	}

		.tabNavPrimary .h-tabs li a {
			/*font-size: 14px;*/
			/*line-height: 25px;*/
			font-size: 1.077em;
			line-height: 1.923em;
			font-family: "OfficinaSansITCW01-BdIt", Arial, Helvetica, sans-serif;
			color: #4DA9D9;
			text-decoration: none;
			display: inline-block;
			background-color: #DBEEF7;
			padding: 4px 18px;
			border: 1px solid #A7D7EB;
			border-bottom: 1px solid #D5D5D5;
				-webkit-border-radius: 6px 6px 0 0;
				-moz-border-radius: 6px 6px 0 0;
				border-radius: 6px 6px 0 0; 
			outline: none;
			z-index: 100;
		}

			.tabNavPrimary .h-tabs li a:hover {
				color: #0084C9;
			}

			.tabNavPrimary .h-tabs li a.active {
				color: #0084C9;
				background: #fff;
				border: 1px solid #D5D5D5;
				border-bottom: 2px solid #FFF;
			}

	.tabContPrimary {
		background-color: #fff;
		margin-top: -2px;
		clear: both;
		height: auto;
		width: auto;
		border: 1px solid #d5d5d5;
		-webkit-border-radius: 4px 4px;
		-moz-border-radius: 4px 4px;
		border-radius: 4px 4px;
		z-index: -1 !important;
		zoom: 1;
	}
	
		.tabContPrimary > div {
			display: inine-block;
			margin: 24px 22px !important;
		}
		
		* html body .tabContPrimary div {
			display: block;
			padding: 0 22px 18px;	
		}
		
		.tabContPrimary > hr {
			margin: 0 !important;
			padding: 0 !important;	
		}
		
	#container #content .buffer .tabContPrimary {
		margin-right: 0;
		margin-left: 0;
	}
	
		#container #content .buffer .tabContPrimary > div {
			display: inline-block;
			margin: 24px 20px !important;
		}